%h1 Listing deliveries

%table
  %tr
    %th
    %th
    %th

  - @deliveries.each do |delivery|
    %tr
      %td= link_to 'Show', delivery
      %td= link_to 'Edit', edit_delivery_path(delivery)
      %td= link_to 'Destroy', delivery, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Delivery', new_delivery_path
