.container
  .row
    .col-md-3
      %h3
        checkout
    .col-md-9
      %h4
        = link_to 'ADDRESS', orders_path
        DELIVERY
        PAYMENT
        CONFIRM
        COMPLETE
  .row
    .col-md-12
      .col-md-2
        = radio_button_tag '1'
        UPS Ground + $5.00
      .col-md-2
        = radio_button_tag '2'
        UPS Two Day + $10.00
      .col-md-2
        = radio_button_tag '3'
        UPS One Day + $15.00

