/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */

#homeCarousel{
  margin: 40px auto;
  width: 800px;
  padding: 0 70px;
}
.media-object {
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 10px;
  float: left;
}
.category{
  float: right;
  width: 300px;
}
.shop{
  width: 800px;
}
.shop_list{
  width: 270px;
}
.cart_li{
  padding-left: 50px;
}
.comment_text_field{
  height: 150px;
  width: 700px;
  resize: none;
}
.dashed_line{
  border-bottom-style: dashed;
}
.margin_top{
  margin-top: 10px;
}