/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */

#homeCarousel{
  margin: 40px auto;
  width: 800px;
  padding: 0 70px;
}
.media-object {
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 10px;
  float: left;
}
.category{
  float: right;
  width: 300px;
}
.shop{
  width: 800px;
}
.shop_list{
  width: 270px;
}
.cart_li{
  padding-left: 50px;
}
.comment_text_field{
  height: 150px;
  width: 700px;
  resize: none;
}
.dashed_line{
  border-bottom-style: dashed;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.margin_top{
  margin-top: 10px;
}
.margin_top_5{
  margin-top: 5px;
}
.margin_bot_10{
  margin-bottom: 10px;
}
.in_line{
  display: inline-block;
}
.float_r{
  float: right;
}
.mail{
  width: 50px;
}

.carousel_control{
   padding-bottom: 50px;
   @extend .carousel-control
}



#carousel{
  width: 900px;
  margin: 40px auto;
  padding: 0 70px;
}
.book_list{
  margin-left: 20px;
  @extend .col-md-3
}
li {
  list-style-type: none;
}
.li_shop {
  width: 270px;
  height: 200px;
  float: left;
}
.margin_top_20{
  margin-top: 20px; 

}
.padding{
  padding: 20px;
}
.margin_confirm{
  margin-top: 40px;
}
.float_left{
  float: left;
}
.float_right{
  float: right;
}
.solid_line{
  border-bottom: solid;
  margin-top: 10px;
}
.height{
  height: 300px; 
}
