<!-- .top {
  height: 30px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
}
.name{
  float: left;

}
.loc{
  float: left;
  margin-left: 200px;
}
.cart{
  float: left;
  margin-left: 200px;
}
.welcome{
  text-align: center;
} -->