.container-fluid
  .row-fluid
    .col-md-9
      %h3
        shop
      .row
        .col-md-9
          - @books.each do |book|
            .col-md-4
              = image_tag(book.image, size: "150x100")
              %p.book_title= link_to book.title, book_path(book) 
              %p.book_price #{number_to_currency(book.price)} 
    .col-md-3
      %h2  
        Categories
      %ul
        - @categories.each do |category|
          %li
            %p= link_to category.name, category_path(category)

   