.container-fluid
  .row-fluid
    .col-md-9
      %h3
        shop
      .row
        .col-md-3
          - @books.each do |book|
            = image_tag(book.image, size: "270x150")
            %p.book_title= link_to book.title, book_path(book) 
            %p.book_price $ #{book.price} 
    .col-md-3
      %h2  
        Categories
      %ul
        - @categories.each do |category|
          %li
            %p= link_to category.name, category_path(category)

   